extends layout

block content
  div.wrapper
    div.box.header Welcome to Twitter Sentiment Analysis
    div.box.sidebar
      div.sidebarContainer
        div Select one of the option to view the distribution in map view:
          div.buttonDiv
            button#viewContent(type="button") Calculate Map Markers!
          span Display rich suburbs
          input#richSuburb(type='checkbox' name='richSuburbs')
          br
          span Display suburbs with more occupation
          input#mostOccupations(type='checkbox' name='suburbOccupation')
          br
          span Display suburbs with many immigrants
          input#mostImmigrants(type='checkbox' name='suburbImmigrants')
          br
          span Display suburbs with many homeless people
          input#mostHomeless(type='checkbox' name='suburbHomeless')
          br
    div.box.content
      div.panel
        div.panel-header
          div.tabs
            button#mapbutton(class="tablinks active" data-val="mapView") Map View
            button#chartbutton(class="tablinks" data-val="chartAnalysisView") Chart Analysis View
        div.panel-body
          div#mapView.tabcontent(style="display:block;")
            div#mapid
          div#chartAnalysisView.tabcontent
            div#chartId
              //canvas#myChart
