extends layout

block content
  div.wrapper
    div.box.header Welcome to Twitter Sentiment Analysis
    div.box.sidebar
      div.sidebarContainer
        div Select one of the option to view the distribution in map view:
        div.buttonDiv
          button#viewContent.btn-primary(type="button") Calculate Map Markers!
        div.control-group
          div.col-sm-2.controls
            input#richSuburb(type='checkbox' name='richSuburbs')
          label.col-sm-10.control-label Display rich suburbs
        div.control-group
          div.col-sm-2.controls
            input#mostOccupations(type='checkbox' name='suburbOccupation')
          label.col-sm-10.control-label Display suburbs with more occupation
        div.control-group
          div.col-sm-2.controls
            input#mostImmigrants(type='checkbox' name='suburbImmigrants')
          label.col-sm-10.control-label Display suburbs with many immigrants
        div.control-group
          div.col-sm-2.controls
            input#mostHomeless(type='checkbox' name='suburbHomeless')
          label.col-sm-10.control-label Display suburbs with many homeless people
    div.box.content
      div.panel
        div.panel-header
          div.tabs
            button#mapbutton(class="tablinks active" data-val="mapView") Map View
            button#chartbutton(class="tablinks" data-val="chartAnalysisView") Chart Analysis View
        div.panel-body
          div#mapView.tabcontent(style="display:block;")
            div#mapid
          div#chartAnalysisView.tabcontent
            div#chartId
              //canvas#myChart
