extends layout

block content
  div.wrapper
    div.box.header Welcome to Twitter Sentiment Analysis
    div.box.sidebar
      div.sidebarContainer
        div Select one of the option to view the distribution in map view:
        div.comboBoxDiv
          select.comboBox
            option(value="happiness") Happiness
            option(value="sad") Sad
            option(value="worried") Worried
            option(value="notSatisfied") Not Satisfied
        div.buttonDiv
          button#viewContent(type="button") Let's view it!
    div.box.content
      div.panel
        div.panel-header
          div.tabs
            button#mapbutton(class="tablinks active" data-val="mapView") Map View
            button#chartbutton(class="tablinks" data-val="chartAnalysisView") Chart Analysis View
        div.panel-body
          div#mapView.tabcontent(style="display:block;")
            div#mapid
          div#chartAnalysisView.tabcontent
            div#chartId
              //canvas#myChart
