body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.sidebar {
  width: 20%;
  float: left;
}

#chartComboBox {
  width: 40%;
}

#dropDownLabel {
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
}

.content {
  grid-area: content;
  position: relative;
}

.header {
  grid-area: header;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
}

.wrapper {
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns: 250px auto;
  grid-template-areas:
          "header  header"
          "content content";
  height: 100vh;
  background-color: #2196F3;
  padding: 2px;
}

.box {
  background-color: white;
  margin:2px;
}

.sidebarContainer {
  padding: 10px 5px 0 5px;
  font-size: 16px;
  font-weight: bold;
}

.buttonDiv {
  padding: 20px;
  text-align: center;
}

.panel {
  display: grid;
  grid-template-rows: 20px auto;
  height: 85vh;
}

.panel-body {
  padding: 2px !important;
}

/** Tabs Module **/
.tabs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  cursor: pointer;
}

/* Style the buttons that are used to open the tab content */
.tabs button {
.ellipsis;
  background-color: lightskyblue;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 6px;
  transition: 0.3s;
  margin: 2px;
}

.tabs button:hover {
  background-color: lightsteelblue;
}

/* Create an active/current tablink class */
.tabs button.active {
  background-color: steelblue;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 15px 0px 0px 0px;
}

#mapid{
  height: 84vh;
  margin-left: 20%;
}

#chartView {
  padding: 30px;
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.info {
  padding: 6px 8px;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

#error{
  color:red;
}

.leaflet-popup-content .popupicon{
  font-weight:300;
  font-size: 30px;
}